.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .container {
        // background-color: rgba(51, 51, 51, 0.338);
        width: var(--default-layout-width);
        height: 1000px;
        display: flex;
    }
}
.content {
    flex: 1;
    // background-color: black;
    height: 100%;
}
