.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}
.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//1
.logo {
}
//2
.search {
    border-radius: 92px;
    color: #161823;
    background-color: #f1f1f2;
    padding: 0 16px;
    width: 361px;
    height: 46px;
    color: #f1f1f2;
    position: relative;

    input {
        border: none;
        background-color: transparent;
        outline: none;
        padding: 14px 0;
        caret-color: var(--primary);
        font-weight: 400;
        font-size: 1.6rem;
        width: 292px;
        color: var(--text-black);
    }
}

.clear__btn {
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 57px;
    opacity: 0.5;
}

.search__btn {
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding: 12px 12px;
    // height: 100%;
    // width: 40px;
    // width: 30px;
    font-size: 15px;
    opacity: 0.6;
    // height: 0px;
    // border-left: 1px solid #ccc;

    cursor: pointer;
    background-color: #29294a;
    border-end-start-radius: 92px;
    // :hover {
    // }
}
//3
.actions {
    display: flex;
    height: 100%;
    padding: 13px 5px;
    .upload {
        padding: 6px 20px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #ccc;
        background-color: #ffffff;

        span {
            margin-left: 4px;
        }
    }
    .message {
        font-size: 20px;
        padding-top: 5px;
    }

    .notification {
        font-size: 20px;
        padding-top: 5px;
    }
    .account {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(https://p9-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/0302e3c5385a6bf7be31b8cf89c3d414.jpeg?x-expires=1661688000&x-signature=LHV2xNmNf%2BbEPjZzJKaXPXgVxIg%3D);
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        margin: 4px 10px;
    }
    .upload,
    .message,
    .notification {
        margin: 0 12px;
    }
}
